@using IkinciElAracIhaleSistemi.Entities.VM.Arac
@model IkinciElAracIhaleSistemi.Entities.VM.IhaleEkleVM
@{
    ViewBag.Title = "IhaleDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sira = 1;
}

@using (Html.BeginForm("IhaleDetay", "Ihale", FormMethod.Post))
{
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">İhale Genel Bilgiler</h6>
                    <h5 class="card-title"></h5>
                    <span style="font-size: 20px; color: red; " class="float-md-right">@Model.Statu</span>
                    <label for="recipient-name" class="col-form-label float-md-right">İhalenin Güncel Statüsü:&nbsp;&nbsp;</label>


                </div>
                @Html.HiddenFor(a => a.IhaleId)
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        İhale Adı
                                        <ul class="list-group list-group-flush">
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(a => a.IhaleAdi, new { @class = "form-control" })
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.IhaleTuruId, "Bireysel/Kurumsal")
                                                    @Html.DropDownListFor(a => a.IhaleTuruId, new SelectList(ViewBag.IhaleTurleri, "Value", "Text"), new { @class = "form-control", disabled = true })
                                                </div>
                                            </div>
                                            @Html.AntiForgeryToken()
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.BireyselVeyaFirmaId, "Firma")
                                                    @Html.DropDownListFor(a => a.BireyselVeyaFirmaId, new SelectList("", "Value", "Text"), new { @class = "form-control", disabled = true })
                                                </div>
                                            </div>

                                        </ul>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(m => m.BaslangicTarihi, "Başlangıç Tarihi", new { @class = "control-label" })
                                                <label for="recipient-name" class="col-form-label">@Model.BaslangicTarihi.ToShortDateString()</label>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(m => m.BaslangicSaati, "Başlangıç Saati", new { @class = "control-label" })
                                                @Html.EditorFor(m => m.BaslangicSaati, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                                                @Html.ValidationMessageFor(m => m.BaslangicSaati, "", new { @class = "text-danger" })
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(m => m.BitisSaati, "Bitiş Saati", new { @class = "control-label" })
                                                @Html.EditorFor(m => m.BitisSaati, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                                                @Html.ValidationMessageFor(m => m.BitisSaati, "", new { @class = "text-danger" })
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="col-sm-10">
                                                @Html.LabelFor(m => m.BitisTarihi, "Bitiş Tarihi", new { @class = "control-label" })
                                                <label for="recipient-name" class="col-form-label">: @Model.BitisTarihi.ToShortDateString()</label>
                                                @Html.ValidationMessageFor(m => m.BitisTarihi, "", new { @class = "text-danger" })
                                            </div>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col">
                                    <div>
                                        <button type="submit" class="btn btn-success float-md-right">Güncelle</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ilanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Araç Ekleme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <input type="hidden" name="ihaleId" value="@Model.IhaleId" />
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">İhale Araç Bilgileri</h6>
                                    <h5 class="card-title"></h5>
                                </div>
                                @Html.HiddenFor(a => a.IhaleId)
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <ul class="list-group">
                                                            <div class="form-group row">
                                                                <div class="col-sm-10">
                                                                    @Html.LabelFor(a => a.AracId, "Araclar")
                                                                    @Html.DropDownListFor(a => a.AracId, new SelectList(ViewBag.FirmaListesi, "Value", "Text"), "Araclar", new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                            @Html.AntiForgeryToken()
                                                        </ul>
                                                    </div>
                                                    <div class="col">
                                                        İhale Başlangıç Fiyatı
                                                        <ul class="list-group list-group-flush">
                                                            <div class="col-sm-10">
                                                                @Html.TextBoxFor(a => a.IhaleBaslangicFiyati, new { @class = "form-control" })
                                                            </div>
                                                        </ul>
                                                    </div>
                                                    <div class="col">
                                                        Minimum Alım Fiyatı
                                                        <ul class="list-group list-group-flush">
                                                            <div class="col-sm-10">
                                                                @Html.TextBoxFor(a => a.MinimumAlimFiyati, new { @class = "form-control" })
                                                            </div>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div>
                                                        <button type="submit" id="aracEkle" class="btn btn-info mr-2 float-md-right">Araç Ekle</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h6 class="card-title">Seçilen Araçlar</h6>
                                    <h5 class="card-title">İhaleye eklemek için seçtiğiniz araçlar burada görüntülenecektir!</h5>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Araç Plaka</th>
                                                <th>İhale Başlangıç Fiyatı</th>
                                                <th>Minimum Alım Fiyatı</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tabloBilgileri">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" id="gonder" class="btn btn-primary">Araçları Kaydet</button>
                </div>
            </div>
        </div>
    </div>



}



<div class="row">
    <div class="col">
        <div class="card">
	        <div class="card-body">
		        <h6 class="card-title">İhale Araç Listesi</h6>
		        <h5 class="card-title"></h5>
		        <a class="btn btn-info float-md-right" href="" @*id="@Model.IhaleId"*@ role="button" data-toggle="modal" data-target="#ilanModal">İhaleye Araç Ekle</a>
	        </div>
	        <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Plaka</th>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Bireysel/Kurumsal</th>
                            <th>Statü</th>
                            <th>Kaydeden Kullanıcı</th>
                            <th>Kaydetme Zamanı</th>
                            <th>İhaleden Çıkar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in (List<AracBilgileriVM>)ViewBag.IhaledekiAracListesi)
                        {
                            <tr>
                                <td>@sira</td>
                                <td>@item.Plaka</td>
                                <td>@item.MarkaAdi</td>
                                <td>@item.ModelAdi</td>
                                <td>@item.BireyselMi</td>
                                <td>@item.Statu</td>
                                <td>@item.KaydedenKullanici</td>
                                <td>@item.KaydedilmeZamani</td>
                                <td><a href="/Ihale/AraciIhaledenCikar/@item.AracId" class="btn btn-outline-danger">Çıkar</a></td>
                            </tr>

                            sira++;
                        }

                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<script>
    $("#@Model.IhaleId").on("click", function () {
        var ihaleId = $(this).attr("id");
        $.ajax({
            type: "GET",
            url: "/ControllerAdi/IhaleyeAracEkle",
            data: { id: ihaleId },
            success: function (result) {
                $("#ilanModal .modal-body").html(result);
            }
        });
    });

    $(document).ready(function () {
        var bilgiler = []; 

        $('#aracEkle').click(function (event) {
            event.preventDefault(); 
            var aracId = $('#AracId').val();
            var aracPlaka = $('#AracId option:selected').text();
            var ihaleBaslangicFiyati = $('#IhaleBaslangicFiyati').val();
            var minimumAlimFiyati = $('#MinimumAlimFiyati').val();
            var ihaleId = $('#IhaleId').val();

            
            $('#tabloBilgileri').append('<tr><td>' + aracPlaka + '</td><td>' + ihaleBaslangicFiyati + '</td><td>' + minimumAlimFiyati + '</td></tr>');

            
            bilgiler.push({ AracId: aracId, IhaleId: ihaleId, IhaleBaslangicFiyati: ihaleBaslangicFiyati, MinimumAlimFiyati: minimumAlimFiyati });

            
            $('#AracId').val('');
            $('#IhaleBaslangicFiyati').val('');
            $('#MinimumAlimFiyati').val('');
        });

        $('#gonder').click(function (event) {
            event.preventDefault(); 
            debugger;
            
            $.ajax({
                url: '/Ihale/IhaleyeAracEkle',
                type: 'POST',
                data: JSON.stringify(bilgiler),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    
                },
                error: function (xhr, status, error) {
                    console.log("AJAX isteği başarısız oldu: " + error); 
                }
            });
        });
    });






















    //$(document).ready(function () {
    //    $('#aracEkle').click(function (e) {
    //        e.preventDefault(); // prevent the form from submitting

    //        // make an AJAX request to add the vehicle to the auction
    //        $.ajax({
    //            type: 'POST',
    //            url: $('#aracEkleme').attr('action'),
    //            data: $('#aracEkleme').serialize(),
    //            success: function (result) {
    //                // clear the form
    //                $('#aracEkleme')[0].reset();


    //                var tableBody = $('table tbody');
    //                tableBody.empty();

    //                $.each(result, function (i, item) {
    //                    var row = '<tr>' +
    //                        '<td>' + (i + 1) + '</td>' +
    //                        '<td>' + item.Plaka + '</td>' +
    //                        '<td>' + item.MarkaAdi + '</td>' +
    //                        '<td>' + item.ModelAdi + '</td>' +
    //                        '<td>' + item.BireyselMi + '</td>' +
    //                        '<td>' + item.Statu + '</td>' +
    //                        '<td>' + item.KaydedenKullanici + '</td>' +
    //                        '<td>' + item.KaydedilmeZamani + '</td>' +
    //                        '<td><a href="/Ihale/AraciIhaledenCikar/' + item.AracId + '" class="btn btn-outline-danger">Çıkar</a></td>' +
    //                        '</tr>';
    //                    tableBody.append(row);
    //                });
    //            },
    //            error: function () {
    //                alert('Error adding vehicle to auction.');
    //            }
    //        });
    //    });
    //});



</script>

