@using IkinciElAracIhaleSistemi.Entities.VM.Enum
@model IkinciElAracIhaleSistemi.Entities.VM.IhaleEkleVM
@{
    ViewBag.Title = "IhaleEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sira = 1;
}

@using (Html.BeginForm("IhaleEkle", "Ihale", FormMethod.Post))
{
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">İhale Genel Bilgiler</h6>
                    <h5 class="card-title"></h5>
                </div>
                @Html.HiddenFor(a => a.IhaleId)
                <div class="row">
                    <div class="col">
	                    <div class="card">
		                    <div class="card-body">
			                    <div class="row">
				                    <div class="col">
					                    İhale Adı
					                    <ul class="list-group list-group-flush">
						                    <div class="col-sm-10">
							                    @Html.TextBoxFor(a => a.IhaleAdi, new { @class = "form-control" })
						                    </div>
					                    </ul>
				                    </div>
				                    <div class="col">
					                    <ul class="list-group">
						                    <div class="form-group row">
							                    <div class="col-sm-10">
								                    @Html.LabelFor(a => a.IhaleTuruId, "Bireysel/Kurumsal")
								                    @Html.DropDownListFor(a => a.IhaleTuruId, new SelectList(ViewBag.IhaleTurleri, "Value", "Text"), "Bireysel/Kurumsal", new { @class = "form-control", onclick = "onChangeIhaleTuru()" })
							                    </div>
						                    </div>
						                    @Html.AntiForgeryToken()
					                    </ul>
				                    </div>
				                    <div class="col">
					                    <ul class="list-group list-group-flush">
						                    <div class="form-group row">
							                    <div class="col-sm-10">
								                    @Html.LabelFor(a => a.BireyselVeyaFirmaId, "Firma")
								                    @Html.DropDownListFor(a => a.BireyselVeyaFirmaId, new SelectList("", "Value", "Text"), "Firma/Bireysel Üye", new { @class = "form-control" })
							                    </div>
						                    </div>

					                    </ul>
				                    </div>
				                    <div class="col">
					                    <ul class="list-group list-group-flush">
						                    <div class="form-group row">
							                    <div class="col-sm-10">
								                    @Html.LabelFor(a => a.StatuId, "Statü")
								                    @Html.DropDownListFor(a => a.StatuId, new SelectList(ViewBag.Statuler, "Value", "Text"), "Statü", new { @class = "form-control" })
							                    </div>
						                    </div>
					                    </ul>
				                    </div>
		                            
			                    </div>
			                    <div class="row">
				                    <div class="col">
					                    <ul class="list-group list-group-flush">
						                    <div class="col-sm-10">
							                    @Html.LabelFor(m => m.BaslangicTarihi,"Başlangıç Tarihi", new { @class = "control-label" })
							                    @Html.EditorFor(m => m.BaslangicTarihi, new { htmlAttributes = new { @class = "form-control", type = "date" } })
							                    @*@Html.ValidationMessageFor(m => m.BaslangicTarihi, "", new { @class = "text-danger" })*@
						                    </div>
					                    </ul>
				                    </div>
				                    <div class="col">
					                    <ul class="list-group list-group-flush">
						                    <div class="col-sm-10">
							                    @Html.LabelFor(m => m.BaslangicSaati,"Başlangıç Saati", new { @class = "control-label" })
							                    @Html.EditorFor(m => m.BaslangicSaati, new { htmlAttributes = new { @class = "form-control", type = "time" } })
							                    @Html.ValidationMessageFor(m => m.BaslangicSaati, "", new { @class = "text-danger" })
						                    </div>
					                    </ul>
				                    </div>
				                    <div class="col">
					                    <ul class="list-group list-group-flush">
						                    <div class="col-sm-10">
							                    @Html.LabelFor(m => m.BitisTarihi,"Bitiş Tarihi", new { @class = "control-label" })
							                    @Html.EditorFor(m => m.BitisTarihi, new { htmlAttributes = new { @class = "form-control", type = "date" } })
							                    @Html.ValidationMessageFor(m => m.BitisTarihi, "", new { @class = "text-danger" })
						                    </div>
					                    </ul>
				                    </div>
				                    <div class="col">
					                    <ul class="list-group list-group-flush">
						                    <div class="col-sm-10">
							                    @Html.LabelFor(m => m.BitisSaati,"Bitiş Saati", new { @class = "control-label" })
							                    @Html.EditorFor(m => m.BitisSaati, new { htmlAttributes = new { @class = "form-control", type = "time" } })
							                    @Html.ValidationMessageFor(m => m.BitisSaati, "", new { @class = "text-danger" })
						                    </div>
					                    </ul>
				                    </div>
			                    </div>
		                       
			                    <div class="col">
				                    <div>
					                    <a href="/Ihale/IhaleOlustur/" class="btn btn-outline-info float-md-right">İhale Oluştur</a>
				                    </div>
			                    </div>
		                    </div>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">İhale Araç Listesi</h6>
                    <h5 class="card-title"></h5>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Marka</th>
                                <th>Model</th>
                                <th>Bireysel/Kurumsal</th>
                                <th>Statü</th>
                                <th>Kaydeden Kullanıcı</th>
                                <th>Kaydetme Zamanı</th>
                                <th>Fiyat</th>
                                <th>İhaleden Çıkar</th>
                            </tr>
                        </thead>
                        @*<tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@sira</td>
                                        <td>@item.KullaniciAdi</td>
                                        <td>@item.KullaniciIsim</td>
                                        <td>@item.KullaniciSoyisim</td>
                                        <td>@item.KullaniciTelefon</td>
                                        <td>@item.KullaniciMail</td>
                                        <td>@item.RolAdi</td>
                                        <td><a href="/Kullanici/KullaniciSil/@item.KullaniciId" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Kullanici/KullaniciGuncelle/@item.KullaniciId" class="btn btn-outline-success">Güncelle</a></td>
                                    </tr>

                                    sira++;
                                }

                            </tbody>*@
                    </table>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body" disabled>
                    <br />
                    <button type="button" class="btn btn-primary">Hemen Al Satış</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#komisyonModal">Komisyon</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tarihceModal">Araç Tarihçe</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#aliciModal">Alıcı Bilgileri Ekle</button>
                    <a class="btn btn-info" href="" role="button" data-toggle="modal" data-target="#ilanModal">İlan Bilgileri Ekle</a>
                    <a class="btn btn-warning" href="~/Arac/TramerKayit/" role="button" data-toggle="modal" data-target="#tramerModal">Tramer Bilgileri Ekle</a>

                    <button type="submit" class="btn btn-dark">Kaydet</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ilanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">İlan Bilgileri</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">İlan Başlığı:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">İlan Açıklama:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="tarihceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Araç Tarihçe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Araç tarihçe
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="aliciModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alıcı Bilgileri</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Alıcı
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="komisyonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alıcı Bilgileri</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Araç Komisyon
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<script>


function onChangeIhaleTuru() {
    var ihaleTuruId = $("#IhaleTuruId").val();
    debugger;
    if (ihaleTuruId == '@((int)IhaleTurleri.Bireysel)') {

        var bireyselUyeler = @Html.Raw(Json.Encode(ViewBag.BireyselUyeler));
        var selectList = $("#BireyselVeyaFirmaId");
        selectList.empty();
        $.each(bireyselUyeler, function (index, bireyselUye) {
            selectList.append($("<option></option>")
                .attr("value", bireyselUye.Value)
                .text(bireyselUye.Text));
        });
    } else if (ihaleTuruId == '@((int)IhaleTurleri.Kurumsal)') {

        var firmalar = @Html.Raw(Json.Encode(ViewBag.Firmalar));
        var selectList = $("#BireyselVeyaFirmaId");
        selectList.empty();
        $.each(firmalar, function (index, firma) {
            selectList.append($("<option></option>")
                .attr("value", firma.Value)
                .text(firma.Text));
        });
    }
}
    


</script>

