@using IkinciElAracIhaleSistemi.Entities.VM.Enum
@using IkinciElAracIhaleSistemi.Entities.VM
@model IkinciElAracIhaleSistemi.Entities.VM.Arac.AracEklemeDetayVM
@{
    ViewBag.Title = "AracEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    KullaniciRolVM kullanici = (Session["girisYapanKullanici"] as KullaniciRolVM);
    ViewBag.GirisYapanKullanici = kullanici;

}

@using (Html.BeginForm("AracEkle", "Arac", FormMethod.Post))
{
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Araç Detay Bilgileri</h6>
                    <h5 class="card-title"></h5>
                </div>
                @Html.HiddenFor(a => a.AracId)
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-group">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.AracTuruId, "Bireysel/Kurumsal")
                                                    @Html.DropDownListFor(a => a.AracTuruId, new SelectList(ViewBag.AracTurleri, "Value", "Text"), "Bireysel/Kurumsal", new { @class = "form-control", onclick = "onChangeAracTuru()" })
                                                </div>
                                            </div>
                                            @Html.AntiForgeryToken()
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.BireyselVeyaFirmaId, "Firma")
                                                    @Html.DropDownListFor(a => a.BireyselVeyaFirmaId, new SelectList(ViewBag.Firmalar, "Value", "Text"), "Firma/Bireysel Üye", new { @class = "form-control" })
                                                </div>
                                            </div>

                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.StatuId, "Statü")
                                                    @Html.DropDownListFor(a => a.StatuId, new SelectList(ViewBag.Statuler, "Value", "Text"), "Statü", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        Fiyat
                                        <ul class="list-group list-group-flush">
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(a => a.Fiyat, new { @class = "form-control" })
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            Plaka
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(a => a.Plaka, new { @class = "form-control" })
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Araç Ekleme</h6>
                    <h5 class="card-title"></h5>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-group list-group-flush">

                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.MarkaId, "Marka")
                                                    @Html.DropDownListFor(a => a.MarkaId, new SelectList(ViewBag.Markalar, "Value", "Text"), "Marka", new { @class = "form-control" })
                                                </div>
                                            </div>

                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.ModelId, "Model")
                                                    @Html.DropDownListFor(a => a.ModelId, new SelectList(ViewBag.Modeller, "Value", "Text"), "Model", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.GovdeTipiId, "Gövde Tipi")
                                                    @Html.DropDownListFor(a => a.GovdeTipiId, new SelectList(ViewBag.GovdeTipleri, "Value", "Text"), "Gövde Tipi", new { @class = "form-control" })

                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        Yıl
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(a => a.Yil, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.YakitTipiId, "Yakıt Tipi")
                                                    @Html.DropDownListFor(a => a.YakitTipiId, new SelectList(ViewBag.YakitTipleri, "Value", "Text"), "Yakıt Tipi", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.VitesTipiId, "Vites Tipi")
                                                    @Html.DropDownListFor(a => a.VitesTipiId, new SelectList(ViewBag.VitesTipleri, "Value", "Text"), "Vites Tipi", new { @class = "form-control" })

                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.VersiyonTipiId, "Versiyon")
                                                    @Html.DropDownListFor(a => a.VersiyonTipiId, new SelectList(ViewBag.VersiyonTipleri, "Value", "Text"), "Versiyon", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        Km Bilgisi
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.TextBoxFor(a => a.Km, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.RenkId, "Renk")
                                                    @Html.DropDownListFor(a => a.RenkId, new SelectList(ViewBag.Renkler, "Value", "Text"), "Renk", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
                                                    @Html.LabelFor(a => a.DonanimId, "Donanım")
                                                    @Html.DropDownListFor(a => a.DonanimId, new SelectList(ViewBag.Donanimlar, "Value", "Text"), "Donanım", new { @class = "form-control" })
                                                </div>
                                            </div>

                                        </ul>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        @Html.Label("Fotograf", "Fotoğraf Ekle", new { @class = "form-label" })
                                        @Html.TextBoxFor(a => a.Fotograf, new { @type = "file", @class = "form-control" })

                                    </div>
                                    <div class="col">
                                        <label for="Aciklama">Açıklama</label>
                                        @Html.TextAreaFor(a => a.Aciklama, new { @class = "form-control" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body" disabled>
                    <br />
                    <button type="button" class="btn btn-primary">Hemen Al Satış</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#komisyonModal">Komisyon</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tarihceModal">Araç Tarihçe</button>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#aliciModal">Alıcı Bilgileri Ekle</button>
                    <a class="btn btn-info" href="" role="button" data-toggle="modal" data-target="#ilanModal">İlan Bilgileri Ekle</a>
                    <a class="btn btn-warning" href="" role="button" data-toggle="modal" data-target="#tramerModal">Tramer Bilgileri Ekle</a>

                    <button type="submit" class="btn btn-dark">Kaydet</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ilanModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">İlan Bilgileri</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">İlan Başlığı:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">İlan Açıklama:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="tarihceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Araç Tarihçe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Araç tarihçe
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="aliciModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alıcı Bilgileri</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Alıcı
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="komisyonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Alıcı Bilgileri</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Araç Komisyon
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<script>


function onChangeAracTuru() {
    var aracTuruId = $("#AracTuruId").val();
    debugger;
    if (aracTuruId == '@((int)UyeTurleri.Bireysel)') {

        var bireyselUyeler = @Html.Raw(Json.Encode(ViewBag.BireyselUyeler));
        var selectList = $("#BireyselVeyaFirmaId");
        selectList.empty();
        $.each(bireyselUyeler, function (index, bireyselUye) {
            selectList.append($("<option></option>")
                .attr("value", bireyselUye.Value)
                .text(bireyselUye.Text));
        });
    } else if (aracTuruId == '@((int)UyeTurleri.Kurumsal)') {

        var firmalar = @Html.Raw(Json.Encode(ViewBag.Firmalar));
        var selectList = $("#BireyselVeyaFirmaId");
        selectList.empty();
        $.each(firmalar, function (index, firma) {
            selectList.append($("<option></option>")
                .attr("value", firma.Value)
                .text(firma.Text));
        });
    }
}



    $(document).ready(function () {
        $('#MarkaId').change(function () {
            var MarkaId = $(this).val();
            if (MarkaId != '') {
                $.ajax({
                    url: '/Arac/ModelleriGetir',
                    type: 'POST',
                    data: { MarkaId: MarkaId },
                    success: function (data) {
                        $('#ModelId').empty();
                        $('#ModelId').append($('<option>').text('Model').attr('value', ''));
                        $.each(data, function (index, model) {
                            $('#ModelId').append($('<option>').text(model.Text).attr('value', model.Value));
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Bir hata oluştu: ' + errorThrown);
                    }
                });
            }
        });
    });

</script>

