@using IkinciElAracIhaleSistemi.Entities.VM.Arac
@using IkinciElAracIhaleSistemi.Entities.VM.Enum
@model AracEklemeDetayVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayac = 1;
}

@using (Html.BeginForm("Index", "Arac", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
	            <div class="card-body">
		            <h4 class="card-title">Kriterler</h4>
		            @Html.HiddenFor(a => a.AracId)
		            <h5 class="card-title"></h5>
	            </div>
                @Html.HiddenFor(a => a.AracId)
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-group">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
	                                                @Html.LabelFor(a => a.MarkaId, "Marka")
	                                                @Html.DropDownListFor(a => a.MarkaId, new SelectList(ViewBag.Markalar, "Value", "Text"), "Marka", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            @Html.AntiForgeryToken()
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
	                                                @Html.LabelFor(a => a.ModelId, "Model")
	                                                @Html.DropDownListFor(a => a.ModelId, new SelectList(ViewBag.Modeller, "Value", "Text"), "Model", new { @class = "form-control" })
                                                </div>
                                            </div>

                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul class="list-group list-group-flush">
                                            <div class="form-group row">
                                                <div class="col-sm-10">
	                                                @Html.LabelFor(a => a.AracTuruId, "Bireysel/Kurumsal")
	                                                @Html.DropDownListFor(a => a.AracTuruId, new SelectList(ViewBag.AracTurleri, "Value", "Text"), "Bireysel/Kurumsal", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
	                                <div class="col">
		                                <ul class="list-group list-group-flush">
			                                <div class="form-group row">
				                                <div class="col-sm-10">
					                                @Html.LabelFor(a => a.StatuId, "Statü")
					                                @Html.DropDownListFor(a => a.StatuId, new SelectList(ViewBag.Statuler, "Value", "Text"), "Statü", new { @class = "form-control" })
				                                </div>
			                                </div>
		                                </ul>
	                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Araç Listesi</h4>
                <a href="/Arac/AracEkle/" class="btn btn-outline-info float-md-right">Yeni Araç Ekle</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Plaka</th>
                                <th>Marka</th>
                                <th>Model</th>
                                <th>Bireysel/Kurumsal</th>
                                <th>Statü</th>
                                <th>Kaydeden Kullanıcı</th>
                                <th>Kaydetme Zamanı</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (List<AracBilgileriVM>)ViewBag.Araclar)
                            {
                                <tr>
                                    <td>@sayac</td>
                                    <td>@item.Plaka</td>
                                    <td>@item.MarkaAdi</td>
                                    <td>@item.ModelAdi</td>
                                    <td>@item.BireyselMi</td>
                                    <td>@item.Statu</td>
                                    <td>@item.KaydedenKullanici</td>
                                    <td>@item.KaydedilmeZamani</td>
                                    <td><a href="/Arac/AracSil/@item.AracId" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Arac/AracGuncelle/@item.AracId" class="btn btn-outline-success">Güncelle</a></td>

                                </tr>
                                sayac++;
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<script>


    $(document).ready(function () {
        $('#MarkaId').change(function () {
            var MarkaId = $(this).val();
            if (MarkaId != '') {
                $.ajax({
                    url: '/Arac/ModelleriGetir',
                    type: 'POST',
                    data: { MarkaId: MarkaId },
                    success: function (data) {
                        $('#ModelId').empty();
                        $('#ModelId').append($('<option>').text('Model').attr('value', ''));
                        $.each(data, function (index, model) {
                            $('#ModelId').append($('<option>').text(model.Text).attr('value', model.Value));
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Bir hata oluştu: ' + errorThrown);
                    }
                });
            }
        });
    });

</script>

