
@model List<IkinciElAracIhaleSistemi.Entities.VM.KullaniciRolVM>
@{
	int sira = 1;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("Index", "Kullanici", FormMethod.Get))
{
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kullanıcılar</h4>

	            <div class="table-responsive">
		            <a href="/Kullanici/KullaniciEkle/" class="btn btn-outline-info, border-right">Yeni Kullanıcı Ekle</a>
		            <table class="table">
			            <thead>
			            <tr>
				            <th>#</th>
				            <th>Kullanıcı Adı</th>
				            <th>İsim</th>
				            <th>Soyisim</th>
				            <th>Telefon</th>
				            <th>Mail Adresi</th>
				            <th>Rolü</th>
				            <th>Sil</th>
				            <th>Güncelle</th>
			            </tr>
			            </thead>
			            <tbody>
			            @foreach (var item in Model)
			            {
				            <tr>
					            <td>(@sira++)</td>
					            <td>@item.KullaniciAdi</td>
					            <td>@item.KullaniciIsim</td>
					            <td>@item.KullaniciSoyisim</td>
					            <td>@item.KullaniciTelefon</td>
					            <td>@item.KullaniciMail</td>
					            <td>@item.RolAdi</td>
					            <td><a href="/Kullanici/KullaniciSil/@item.KullaniciId" class="btn btn-outline-danger">Sil</a></td>
					            <td><a href="/Kullanici/KullaniciGuncelle/@item.KullaniciId" class="btn btn-outline-success">Güncelle</a></td>
				            </tr>
			            }

			            </tbody>
		            </table>

	            </div>
            </div>
        </div>
    </div>
}



